<!-- Adam Abbas & Yuyang Zhang 
SoftDev1 pd07
HW5 -- Jinja Tuning
2017-09-27
-->

<!DOCTYPE html>
<html>
    <head>
        <title> {{ tl }} </title>
    </head>


    <body>	  
      <center>
	<h1> {{heading}} </h1>
        <table>
                {% for i in d %} <!-- For loop -->
                <tr>
                    <td> {{ i }} </td> 
                    <td> {{ d[i] }} </td>
                </tr>
                {% endfor %}
        </table>
<br>

<h1>{{r}}</h1>
</center>

    </body>
</html>
